In [2]:
import pandas as pd 

df= pd.read_excel("ParalympicsData1.xlsx")

df.head(50)

,Summer or Winter,Year,Location,Rank,Athlete,Country,Gold,Silver,Bronze,Total
0,Summer,1960,"Rome, Italy",1,Maria Scutti,Italy,10,3,2,15
1,Summer,1960,"Rome, Italy",2,Zander,Germany,6,0,2,8
2,Summer,1960,"Rome, Italy",3,Manette Berger-Waldenegg,Austria,5,1,2,8
3,Summer,1960,"Rome, Italy",4,Dick Thompson,Great Britain,4,1,2,7
4,Summer,1960,"Rome, Italy",5,Anderson,Great Britain,4,0,0,4
5,Summer,1960,"Rome, Italy",6,Ron Stein,United States of America,4,0,0,4
6,Summer,1960,"Rome, Italy",7,Anna Maria Toso,Italy,3,5,2,10
7,Summer,1960,"Rome, Italy",8,Scharf,Austria,3,1,0,4
8,Summer,1960,"Rome, Italy",9,Arriens-Kappens,Netherlands,3,0,0,3
9,Summer,1960,"Rome, Italy",10,Enzo Santini,Italy,3,0,0,3
10,Summer,1960,"Rome, Italy",11,Jack Whitman,United States of America,3,0,0,3
11,Summer,1960,"Rome, Italy",12,Daphne Ceeney,Australia,2,3,1,6
12,Summer,1960,"Rome, Italy",13,L. Halford,Great Britain,2,2,0,4
13,Summer,1960,"Rome, Italy",14,Giovanni Ferraris,Italy,2,1,2,5
14,Summer,1960,"Rome, Italy",15,Margaret Harriman,Rhodesia,2,1,2,5
15,Summer,1960,"Rome, Italy",16,Walter Prossl,Germany,2,1,2,5
16,Summer,1960,"Rome, Italy",17,Franco Rossi,Italy,2,1,2,5
17,Summer,1960,"Rome, Italy",18,Bob Hawkes,United States of America,2,1,1,4
18,Summer,1960,"Rome, Italy",19,R. Kuhnel,Austria,2,1,1,4
19,Summer,1960,"Rome, Italy",20,Carlo Jannucci,Italy,2,1,0,3
20,Summer,1960,"Rome, Italy",21,Bill Johnson,United States of America,2,1,0,3
21,Summer,1960,"Rome, Italy",22,Dick Maduro,United States of America,2,1,0,3
22,Summer,1960,"Rome, Italy",23,Sodenkamp,Germany,2,0,1,3
23,Summer,1960,"Rome, Italy",24,Wayne Broeren,United States of America,2,0,0,2
24,Summer,1960,"Rome, Italy",25,Ersud,Norway,2,0,0,2
25,Summer,1960,"Rome, Italy",26,P. Foulds,Great Britain,2,0,0,2
26,Summer,1960,"Rome, Italy",27,Harald Gunnerup,Norway,2,0,0,2
27,Summer,1960,"Rome, Italy",28,Joan Horan,Ireland,2,0,0,2
28,Summer,1960,"Rome, Italy",29,Reklev,Norway,2,0,0,2
29,Summer,1960,"Rome, Italy",30,Renzo Rogo,Italy,2,0,0,2
30,Summer,1960,"Rome, Italy",31,Stroebel,Germany,2,0,0,2
31,Summer,1960,"Rome, Italy",32,Tommy Taylor,Great Britain,2,0,0,2
32,Summer,1960,"Rome, Italy",33,Tedone,Italy,2,0,0,2
33,Summer,1960,"Rome, Italy",34,Marlene Muhlendyck,Germany,1,3,3,7
34,Summer,1960,"Rome, Italy",35,Felice Lenardon,Italy,1,3,1,5
35,Summer,1960,"Rome, Italy",36,Paul Sones,United States of America,1,2,2,5
36,Summer,1960,"Rome, Italy",37,Denis Favre,Switzerland,1,2,0,3
37,Summer,1960,"Rome, Italy",38,Grimaldi,Italy,1,2,0,3
38,Summer,1960,"Rome, Italy",39,Ottavio Moscone,Italy,1,1,2,4
39,Summer,1960,"Rome, Italy",40,Schneider,Austria,1,1,2,4
40,Summer,1960,"Rome, Italy",41,Federico Zarilli,Italy,1,1,2,4
41,Summer,1960,"Rome, Italy",42,Igel,Austria,1,1,1,3
42,Summer,1960,"Rome, Italy",43,Susan Masham,Great Britain,1,1,1,3
43,Summer,1960,"Rome, Italy",44,Aroldo Ruschioni,Italy,1,1,1,3
44,Summer,1960,"Rome, Italy",45,Jarrige,France,1,1,0,2
45,Summer,1960,"Rome, Italy",46,Jim Mathis,United States of America,1,1,0,2
46,Summer,1960,"Rome, Italy",47,Juan Sznitowski,Argentina,1,1,0,2
47,Summer,1960,"Rome, Italy",48,Wetzel,Germany,1,1,0,2
48,Summer,1960,"Rome, Italy",49,M. Beck,Great Britain,1,0,1,2
49,Summer,1960,"Rome, Italy",50,Giovanni Berghella,Italy,1,0,1,2

In [14]:
years= df["Year"].unique()

for listYears in years:
    print(listYears)

1960
1964
1968
1972
1976
1980
1984
1988
1992
1994
1996
1998
2000
2002
2004
2006
2008
2010
2012
2014
2016
2018

In [16]:
ranking= df[["Total", "Country"]].groupby("Country").sum("Total").sort_values(by="Total", ascending=False)
ranking.head(5)

                          Total
Country
United States of America   2111
Great Britain              1493
Australia                  1008
Canada                      989
France                      977

In [29]:
lastEditions= df[(df["Year"]>=2000) & (df["Year"]<= 2018)]
bones= lastEditions. groupby("Country")["Total"].sum().reset_index()
grave= bones.sort_values(by="Total", ascending=False)
road= grave.head(10)
print(road.to_string(index=False))

                   Country  Total
People's Republic of China    731
             Great Britain    499
  United States of America    493
                 Australia    480
                   Ukraine    372
        Russian Federation    317
                   Germany    313
                    Canada    301
                    France    281
                     Spain    240

In [30]:
ranking= df[["Total", "Country"]].groupby("Country").sum("Total").sort_values(by="Total", ascending=True)
ranking.head(10)

                                     Total
Country
Côte d'Ivoire                            2
Lebanon                                  2
Romania                                  2
Saudi Arabia                             2
Jordan                                   2
Puerto Rico                              3
Venezuela                                3
India                                    3
East Germany                             4
Independent Paralympic Participants      4

In [7]:
from statistics import median
from math import isnan
from itertools import filterfalse
from collections import Counter

Requirement already satisfied: plotly==4.14.3 in c:\users\usuário\appdata\local\programs\python\python311\lib\site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\usuário\appdata\local\programs\python\python311\lib\site-packages (from plotly==4.14.3) (1.3.4)
Requirement already satisfied: six in c:\users\usuário\appdata\local\programs\python\python311\lib\site-packages (from plotly==4.14.3) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: unknown command "intall" - maybe you meant "install"

In [3]:
qtt = df.shape[0]
print(f"A tabela tem {qtt} linhas.")

A tabela tem 6433 linhas.

In [4]:
media = df['Total'].mean()
print(f"A tabela tem {media} linhas.")

A tabela tem 2.833670138349137 linhas.

In [6]:
mediana = df['Total'].median()
print(f"A tabela tem {mediana} linhas.")

A tabela tem 2.0 linhas.